In [1]:
import numpy as np
import pandas as pd

In [2]:
df_stats = pd.read_csv('donnee-data.gouv-2022-geographie2023-produit-le2023-07-17_stats.csv', sep=';')

/var/folders/_1/d3qbyl_13d33ktll4k6hgr5r0000gn/T/ipykernel_38141/531963643.py:1: DtypeWarning: Columns (0,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_stats = pd.read_csv('donnee-data.gouv-2022-geographie2023-produit-le2023-07-17_stats.csv', sep=';')

In [3]:
df_county_codes = pd.read_csv('v_commune_2023.csv')

In [4]:
df_county_codes = (df_county_codes
 .iloc[:,[1,3,9]]
 .set_index('COM')
)

In [5]:
df_stats = df_stats.set_index('CODGEO_2023')

In [6]:
df_joined_all = df_stats.join(df_county_codes)

In [7]:
df_joined_all[['classe','unité.de.compte','LIBELLE']].head(2)

                        classe unité.de.compte LIBELLE
1001  Cambriolages de logement      infraction     NaN
1001  Cambriolages de logement      infraction     NaN

In [8]:
df_joined_20 = df_stats[:20].join(df_county_codes)

In [9]:
df_joined_20[['classe','unité.de.compte','LIBELLE']].head(2)

,classe,unité.de.compte,LIBELLE
01001,Autres coups et blessures volontaires,victime,L'Abergement-Clémenciat
01001,Autres coups et blessures volontaires,victime,L'Abergement-Clémenciat